{# templates/vehicule/show.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<title>Détails de la commande</title>
		<!-- Inclure Bootstrap CSS -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		<div class="container">
			<h1>Détails de la commande</h1>
			{% if commande %}
				<p>Marque:
					{{ commande.id }}</p>
				<p>date heure depart:
					{{ commande.date_heure_depart }}</p>
				<p>date heure fin:
					{{ commande.date_heure_fin }}</p>
				<!-- Autres détails du véhicule -->
			{% else %}
				<p>Aucune commande trouvé.</p>
			{% endif %}
		</div>

		<!-- Inclure Bootstrap JS -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
