{# templates/admin/home.html.twig #}
{# modifier pour qu'il affiche la liste des users avec un bouton vers la page create et vers la page view   #}

{% extends "base.html.twig" %}
<!DOCTYPE html>
<html>
	<head>
		<title>Administration</title>
	</head>
	<body>
		<h1>Page d'accueil de l'administration</h1>

		{% for message in app.session.flashBag.get('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		<!-- Autres contenus de votre page d'accueil ici -->
	</body>
</html>
